<!--Header Section-->
<header id="showcase" class="grid">
  <div class="bg-image"></div>
  <div class="content-wrap">
    <h1>Profile Information</h1>
    <p>Myself is a Highly motivated and detail orientated software professional with 8+ years of experience in
      analyzing,
      designing, developing, testing and implementation of web and business solutions for clients including Banking,
      Finance, Education, Hospitality, Manufacturing industries using cutting-edge front and back-end technologies.
    </p>
    <a href="#section-d" class="btn">Read More</a>
  </div>
</header>

<!--Main Area-->
<main id="main">
  <!-- Section A -->
  <section id="section-a" class="grid">
    <div class="content-wrap">
      <h2 class="content-title">On the Web</h2>
      <div class="content-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sint eligendi possimus? Unde officiis magnam
          laborum ipsa distinctio odio, vero dolores dicta aliquam aperiam repellendus. Perferendis officiis deserunt
          velit voluptas nobis sequi
          animi totam, accusantium, ex eius quia, natus quo?</p>
      </div>
    </div>
  </section>
  <!-- Section B -->
  <section id="section-b" class="grid">
    <ul>
      <li>
        <div class="card">
          <img src="https://static.pexels.com/photos/574077/pexels-photo-574077.jpeg" alt="">
          <div class="card-content">
            <h3 class="card-title">Web Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit
              voluptatum cum maiores exercitationem.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="https://static.pexels.com/photos/261628/pexels-photo-261628.jpeg" alt="">
          <div class="card-content">
            <h3 class="card-title">Mobile Applications</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit
              voluptatum cum maiores exercitationem.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="https://static.pexels.com/photos/265087/pexels-photo-265087.jpeg" alt="">
          <div class="card-content">
            <h3 class="card-title">Tech Marketing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit
              voluptatum cum maiores exercitationem.</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <!-- Section C -->
  <section id="section-c" class="grid">
    <div class="content-wrap">
      <h2 class="content-title">We handle all of your digital needs</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime nam rerum vel earum error fugiat cupiditate,
        dolore eius! Minus, explicabo.</p>
    </div>
  </section>

  <!-- Section D -->
  <section id="section-d" class="grid">
    <div class="box">
      <h2 class="content-title">Contact Details</h2>
      <table class="profile-info break-word">
        <tbody>
        <tr>
          <td>Full Name</td>
          <td>Venkata Jamili</td>
        </tr>
        <tr>
          <td>Job Title</td>
          <td>Consultant</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>Venkataj22@gmail.com</td>
        </tr>
        <tr>
          <td>Favorite Thing</td>
          <td>Content Development</td>
        </tr>
        <tr>
          <td>Favorite Topics</td>
          <td>Blogging, Content, Copywriting, Keyword Research</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="box">
      <h2 class="content-title">About Me</h2>
      <p>I would start with the 9 steps in building the Right Content Marketing Strategy. Think about what your website
        goals are first and work from there. What is your brand? What makes you unique? Who needs your product and why? What are their content needs
        and pain points? Hope that helps!</p>
    </div>
  </section>
</main>

<!-- Footer -->
<footer id="main-footer" class="grid">
  <div>Acme Web Solutions</div>
  <div>Project By <a href="http://traversymedia.com" target="_blank">Venkata Jamili</a></div>
</footer>

<!--Reference: https://codepen.io/bradtraversy/pen/RjpQvZ-->
